<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.aspenms.pushup"
        version   = "1.0.0">


  <name>PhoneGap Example</name>

  <description>
    Test app for PhoneGap
  </description>

  <preference name="webviewbounce" value="false" />

</widget>